@model List<BillViewModels>
@{
    ViewData["Title"] = "List of Bill";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@*Write Code*@
<div class="row mt-5">
    <div class="col-md-10 offset-1">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th class="align-middle p-2">Index</th>
                    <th class="align-middle p-2">Created Time</th>
                    <th class="align-middle p-2">Total</th>
                    <th class="align-middle p-2">Status</th>
                    <th class="align-middle p-2">Payment Type</th>
                    <th class="align-middle p-2">Payment Code</th>
                    <th class="align-middle p-2">Customer's Name</th>
                    <th class="align-middle p-2">Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle p-2" style="margin-right: 1rem">
                            @{
                                var index = Model.IndexOf(item) + 1;
                            }@index
                        </td>
                        <td class="align-middle p-2">@item.CreatedTime</td>
                        <td class="align-middle p-2">$@item.Total</td>
                        <td class="align-middle p-2">
                            @{
                                var status = WebApplication1.Utilities.ConvertEnum.Convert(item.Status);
                            }@status
                         </td>
                        <td class="align-middle p-2">
                            @{
                                var type = WebApplication1.Utilities.ConvertEnum.Convert(item.PaymentId);
                            }@type
                        </td>
                        <td class="align-middle p-2">@item.PaymentCode</td>
                        <td class="align-middle p-2">@item.AccName</td>

                        <td class="align-middle">
                            @Html.Partial("~/Areas/Admin/Views/Partials/Bill/_BillDetailPartial.cshtml", item)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
