@model List<ProductViewModels>

@foreach (var item in Model)
{
    <div class="col-xl-3 col-lg-4 col-sm-6 me-3 mb-5">
        <div class="card-product card d-flex flex-column p-3" title="Click to view Detail">
            <div class="d-flex justify-content-center">
                <img src="~/img/products/@item.Image" class="card-img-top mb-3" alt="@item.Image" style="width: 178px; height: 178px">
            </div>

            <div class="row d-flex flex-column justify-content-between">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">@item.Name</h4>
                </div>

                <div class="d-flex justify-content-between mb-3">
                    <a style="font-size: 16px">@item.CateName</a>
                    <span class="ms-3 fw-semibold" style="font-size: 16px;">$@item.Price</span>
                </div>

                <div class="d-flex align-items-center">
                    <a href="#" class="btn-add btn btn-outline-primary text-white">
                        <i class="bi bi-cart-check-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}