@model Category
<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#@Model.Name">
    Edit
</button>

<!-- Modal -->
<div class="modal fade" id="@Model.Name" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Update">
                    <div class="form-group mb-3" hidden>
                        <label asp-for="ID" class="form-label"></label>
                        <input asp-for="ID" class="form-control" value="@Model.ID" />
                        <span asp-validation-for="ID" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" value="@Model.Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Status" class="form-label"></label>
                        <input type="checkbox" asp-for="Status" checked="@Model.Status" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between form-group">
                        <input type="submit" value="Update" asp-area="Admin" asp-controller="Category" asp-action="Update" class="btn btn-outline-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>