@using System.Net.Http
@using WebApplication1.Utilities
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    int count = 0;
    List<BillDetailViewModels> products = HttpContextAccessor.HttpContext.Session.Get<List<BillDetailViewModels>>("products");
    if (products == null)
    {
        products = new List<BillDetailViewModels>();
    }
    count = products.Sum(p => p.Quantity);

    Account account = HttpContextAccessor.HttpContext.Session.Get<Account>("acc");

}
<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-phone d-flex align-items-center"><span>+1 5589 55488 55</span></i>
            <i class="bi bi-clock d-flex align-items-center ms-4"><span> Mon-Sat: 11AM - 23PM</span></i>
        </div>

        <div class="languages d-none d-md-flex align-items-center">
            <ul>
                <li>En</li>
                <li><a href="#">De</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

        <h1 class="logo me-auto me-lg-0"><a href="index.html">PVFoodService</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a href="/Home/Index">Home</a></li>
                <li class="dropdown">
                    <a href="/Category/Index">Category<i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Breakfast</a></li>
                        @*<li class="dropdown">
                        <a href="#">Burgers
                        <span>Deep Drop Down</span>
                        <i class="bi bi-chevron-right"></i>
                        </a>
                        <ul>
                        <li><a href="#">Deep Drop Down 1</a></li>
                        <li><a href="#">Deep Drop Down 2</a></li>
                        <li><a href="#">Deep Drop Down 3</a></li>
                        <li><a href="#">Deep Drop Down 4</a></li>
                        <li><a href="#">Deep Drop Down 5</a></li>
                        </ul>
                        </li>*@
                        <li><a href="#">Burgers</a></li>
                        <li><a href="#">Chicken & Fish Sandwiches</a></li>
                        <li><a href="#">Fries & Sides</a></li>
                        <li><a href="#">PvCafé® Coffees</a></li>
                        <li><a href="#">Sweets & Treats</a></li>
                        <li><a href="#">Beverages</a></li>
                    </ul>
                </li>
                <li><a href="/Cart/Index"><i class="bi bi-cart"></i>&nbsp; (@count)</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        @if (Context.User.Identity.IsAuthenticated)
        {
            <ul class="d-flex flex-row align-items-center" style="list-style-type: none">
                <li>
                    <a>Hello @User.Identity.Name</a>
                </li>

                <li>
                    <a asp-area="" asp-controller="Account" asp-action="Logout" class="book-a-table-btn scrollto d-none d-lg-flex">Logout</a>
                </li>
            </ul>
        }
        else if (account != null)
        {
            <ul class="d-flex flex-row align-items-center" style="list-style-type: none">
                <li>
                    <a>Hello @account.Name</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Account" asp-action="Signout" class="book-a-table-btn scrollto d-none d-lg-flex">Logout</a>
                </li>
            </ul>
        }
        else
        {
            <a asp-area="" asp-controller="Account" asp-action="Index" class="book-a-table-btn scrollto d-none d-lg-flex">Log In</a>
        }
        @*<a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex">Order Online</a>*@

    </div>
</header><!-- End Header -->