@model List<BillDetailViewModels>
@Html.Partial("~/Views/Shared/_HeaderInnerPagePartial.cshtml")

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Category</h2>
                <ol>
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Category/Index"></a>Category</li>
                </ol>
            </div>

        </div>
    </section>

    <section class="inner-page">
        <div class="container">
            <table class="table text-white">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row" class="align-middle">
                                @{
                                    var index = Model.IndexOf(item) + 1;
                                }@index
                            </th>

                            <td>
                                <img src="~/img/products/@item.ProductImage" style="width: 178px; height: 178px" />
                            </td>
                            <td class="align-middle">@item.ProductName</td>
                            <td class="align-middle">$@item.Price</td>
                            <td class="align-middle">@item.Quantity</td>
                            <td class="align-middle fw-semibold" style="color: #cda45e">$@item.Total</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </section>
</main>