@model ProductViewModels

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createProduct">
    Create
</button>

<!-- Modal -->
<div class="modal fade" id="createProduct" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Product</h5>
            </div>
            <div class="modal-body">
                <form action="/Admin/Product/Create/" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group mb-3">
                        <label class="form-label">Product Name</label>
                        <input name="Name" class="form-control" />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Category</label>
                        <select name="CategoryId" class="form-select">
                            @foreach (var item in ViewData["ProCategories"] as List<Category>)
                            {
                                <option value="@item.ID">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label"></label>
                        <textarea name="Description" id="editor" placeholder="Enter Product Description" class="form-control"></textarea>
                    </div>

                    <div class="d-flex form-group mb-3">
                        <label class="form-label fw-semibold">Price</label>
                        <input name="Price" class="form-control" />
                    </div>

                    <div class="form-group mb-3">
                        <label class="form-label">Image</label>
                        <input type="file" name="Image" id="productImg" class="form-control" />
                    </div>

                    <div class="form-group mb-3 text-center">
                        <img id="imgUrl" style="width: 12.5rem; height: 12.5rem; object-position: center; border: none" />
                    </div>

                    <div class="form-group mb-3" hidden>
                        <label class="form-label"></label>
                        <input name="ImageBase64" value="ImageBase64" id="productImg64" class="form-control" />
                    </div>

                    <div class="d-flex justify-content-between form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //Intergrate CKEditor
    CKEDITOR.replace('editor', {
        height: 220
    });

    //Preview Image
    const fileInput = document.getElementById('productImg');
    var img64 = document.getElementById('productImg64');
    var output = document.getElementById('imgUrl')

    fileInput.addEventListener("change", e => {
        const file = fileInput.files[0];
        const reader = new FileReader();

        reader.addEventListener("load", () => {
            output.src = reader.result;
            img64.value = reader.result;
        });

        reader.readAsDataURL(file);
    })
</script>
