@model List<CategoryViewModels>
@{
    var lstAllProductView = (List<ProductViewModels>)ViewData["lstAllProducts"];
}
@Html.Partial("~/Views/Shared/_HeaderInnerPagePartial.cshtml")

<main id="main">
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Category</h2>
                <ol>
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Category/Index"></a>Category</li>
                </ol>
            </div>

        </div>
    </section>

    <section class="inner-page">
        <div class="container mb-5">
            <div class="productContainer container d-flex col-12">
                <div class="productFilterContainer col-xl-3">
                    <ul class="productFilterList p-2 mb-5">
                        <li>
                            <a class="d-flex align-items-center">
                                <img src="~/img/allproducts.png" class="card-img-top mb-3" alt="allproducts" style="width: 80px; height: 80px">
                                <span class="text-white ms-3">All</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="productFilterList p-2">
                        @foreach (var item in Model)
                        {
                            <li>
                                <a class="d-flex align-items-center" onclick="filterProduct(@item.ID)">
                                    <img src="~/img/allproducts.png" class="card-img-top mb-3" style="width: 80px; height: 80px">
                                    <span class="text-white ms-3">@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-xl-9" id="productWrapper">
                    @Html.Partial("~/Views/Partials/_ProductByCatePartial.cshtml", lstAllProductView)
                </div>
            </div>
        </div>


        <div class="container col-md-10 offset-1">
            <p style="font-size: 16px">
                Enjoy a favorite from the McDonald's burger menu and pick from a large selection of classic burgers like the Big Mac®, or pick a fresh beef burger like the Quarter Pounder®* with Cheese! Get your McDonald's burgers delivered using McDelivery® or pick it up with curbside pickup using Mobile Order & Pay!
            </p>

            <br />
            <span style="font-size: 10px">*Weight before cooking 4 oz.</span>

            <br />
            <br />
            <br />
            <br />
            <br />

            <p style="font-size: 11px">
                Important Note :
                At McDonald's, we take great care to serve quality, great-tasting menu items to our customers each and every time they visit our restaurants. We understand that each of our customers has individual needs and considerations when choosing a place to eat or drink outside their home, especially those customers with food allergies. As part of our commitment to you, we provide the most current ingredient information available from our food suppliers for the nine most common allergens as identified by the U.S. Food and Drug Administration (eggs, dairy, wheat, soy, peanuts, tree nuts, fish, shellfish and sesame), so that our guests with food allergies can make informed food selections. However, we also want you to know that despite taking precautions, normal kitchen operations may involve some shared cooking and preparation areas, equipment and utensils, and the possibility exists for your food items to come in contact with other food products, including allergens. We encourage our customers with food allergies or special dietary needs to visit www.mcdonalds.com for ingredient information, and to consult their doctor for questions regarding their diet. If you have questions about our food, please reach out to us directly using our contact us forms.
                <br />
                <br />
                Percent Daily Values (DV) and RDIs are based on unrounded values.
                <br />
                <br />
                **Percent Daily Values (DV) are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs.                <br />
                <br />
                The nutrition information on this website is derived from testing conducted in accredited laboratories, published resources, or from information provided from McDonald's suppliers. The nutrition information is based on standard product formulations and serving sizes.  Calories for fountain beverages are based on standard fill levels plus ice. If you use the self-service fountain inside the restaurant for your drink order, see the sign posted at the beverage fountain for beverage calories without ice. All nutrition information is based on average values for ingredients and is rounded in accordance with current U.S. FDA NLEA regulations. Variation in serving sizes, preparation techniques, product testing and sources of supply, as well as regional and seasonal differences may affect the nutrition values for each product. In addition, product formulations change periodically. You should expect some variation in the nutrient content of the products purchased in our restaurants. Beverage sizes may vary in your market. McDonald’s USA does not certify or claim any of its US menu items as Halal, Kosher or meeting any other religious requirements. We do not promote any of our US menu items as vegetarian, vegan or gluten-free. This information is correct as of January 2022, unless stated otherwise.
            </p>
        </div>

    </section>

</main>

<script type="text/javascript">
    function filterProduct(cateID) {
        var productWrapper = document.getElementById("productWrapper");

        $.ajax({
            type: "POST",
            data: { cateID: cateID },
            dataType: "json",
            url: "/Category/FilterProduct",
            success: function (result) {
                console.log(result);
                if (typeof result === 'string') {
                    productWrapper.innerHTML = `
                        <div class="d-flex flex-column align-items-center justify-content-center text-center">
                            <h1 class="d-flex justify-content-center text-center mb-3">${result}</h1>
                            <span class="text-white">No product found</span>
                        </div>
                    `;
                }
                else {
                    let out = "";
                    let cName = "";

                    result.forEach(myFunction)
                    function myFunction(item, index) {
                        var cate = `${item.cateName}`;
                        var row = `
                            <div class="productWrapper col-xl-3 col-lg-3 col-sm-12 col-xs-12 me-5 mb-5">
                                <div class="card-product card position-relative d-flex flex-column p-3 mb-5">

                                    <a type="button" href="/Product/ProductDetail/${item.id}">

                                        <div class="d-flex justify-content-center">
                                            <img src="img/products/${item.image}" class="card-img-top mb-3" alt="${item.image}" style="width: 178px; height: 178px">
                                        </div>

                                        <div class="row d-flex flex-column">
                                            <div class="d-flex align-items-center">
                                                 <h3 class="card-title text-white">${item.name}</h3>
                                            </div>

                                            <div class="position-relative d-flex mb-5">
                                                <a class="position-absolute" style="font-size: 16px; left: 12px">${item.cateName}</a>
                                                <input id="productId" value="${item.id}" hidden />
                                                <span class="position-absolute fw-semibold" style="font-size: 16px; right: 12px">$${item.price}</span>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="position-absolute d-flex align-items-center" style="bottom: 5px">
                                        <a class="btn-add btn btn-outline-primary text-white me-3" title="Add To Cart" onclick="Increase(${item.id}, ${item.price})">
                                            <i class="bi bi-cart-check-fill"></i>
                                        </a>

                                        <a class="btn-delete btn btn-outline-primary text-white" title="Remove From Cart" onclick="Decrease(${item.id}, ${item.price})">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        `;
                        out += row;
                        cName = cate;
                    }
                    productWrapper.innerHTML = 
                        `<div class="row d-flex flex-column justify-content-center p-2">
                            <div class="row d-flex text-white p-4">
                                <div id="cartFlagContainer" class="form-group alert alert-danger mb-3" style="visibility: hidden">
                                    <strong id="cartFlag"></strong>
                                </div>
                            </div>` 
                        + `<div class="d-flex align-items-center justify-content-center text-center mb-3"><h1 class="d-flex justify-content-center text-center">` + cName + `</h1> </div>`
                        +`<div class="productDisplayContainer d-flex justify-content-center">` + out + `</div> </div>`;
                }

            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    }
    function Increase(productId, productPrice) {
        $.ajax({
            type: "POST",
            data: { id: productId, price: productPrice },
            dataType: "json",
            url: "/Cart/AddToCart",
            success: function (result) {
                console.log(result);

                var sumQuantity = 0;
                var sumTotal = 0;
                result.forEach(myFunction);

                function myFunction(item) {
                    sumQuantity += item.quantity;
                    sumTotal += item.total;
                }

                if (sumTotal > 50 || sumQuantity > 19) {
                    $('#cartFlagContainer').get(0).style.visibility = 'visible';
                    $('#cartFlag').get(0).innerHTML = "Cart reached limitation";
                } else {
                    $('#cartFlagContainer').get(0).style.visibility = 'hidden';
                }

                $('#cartQuantity').get(0).innerHTML
                    = "<li><a href=" + "'" + "/Cart/Index" + "' " + "id =" + "'" + "cartQuantity" + "'> <i class=" + "'" + "bi bi-cart" + "'></i>&nbsp; " + "(" + sumQuantity + ")" + "</a></li>";
            },
            error: function (req, status, error) {
                console.log(error);
            }
        })
    }
    function Decrease(productId, productPrice) {
        $.ajax({
            type: "POST",
            data: { id: productId, price: productPrice },
            dataType: "json",
            url: "/Cart/RemoveFromCart",
            success: function (result) {
                console.log(result);

                var sumQuantity = 0;
                var sumTotal = 0;
                result.forEach(myFunction);

                function myFunction(item) {
                    sumQuantity += item.quantity;
                    sumTotal += item.total;
                }

                if (sumTotal > 50 || sumQuantity > 19) {
                    $('#cartFlagContainer').get(0).style.visibility = 'visible';
                    $('#cartFlag').get(0).innerHTML = "Cart reached limitation";
                } else {
                    $('#cartFlagContainer').get(0).style.visibility = 'hidden';
                }

                $('#cartQuantity').get(0).innerHTML
                    = "<li><a href=" + "'" + "/Cart/Index" + "' " + "id =" + "'" + "cartQuantity" + "'> <i class=" + "'" + "bi bi-cart" + "'></i>&nbsp; " + "(" + sumQuantity + ")" + "</a></li>";
            },
            error: function (req, status, error) {
                console.log(error);
            }
        })
    }
</script>

